<mat-toolbar color="primary">
</mat-toolbar>
<div class="container">
  <ul class="nav nav-pills">
    <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
    <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
    <li><a class="nav-link" href="#"(click)="socialSignIn('google'); $event.preventDefault()">Google</a>
    </li>
    <li><a class="nav-link" href="#"(click)="socialSignIn('linkedin'); $event.preventDefault()">Linkedin</a>
    </li>
    <li><a class="nav-link" href="#"(click)="socialSignIn('facebook'); $event.preventDefault()">Facebook</a>
    </li>
    <li> <a class="nav-link logout" href="#"
            (click)="logout(); $event.preventDefault()">Logout</a></li>
  </ul>
</div>
<div class="container">
  app.component.html#router-outlet-start
  <router-outlet></router-outlet>
  app.component.html#router-outlet-end
</div>
<!--<app-user-list></app-user-list>-->
